.container{
    width: 90vh;
    height: 90vh;
    margin: 0 auto;

    filter: blur(5px);  
    
 
    
 
 }
 
 
 /* Heading section */
 
 .head1{
     float: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-top: 90px;
     margin-left: 10px;
 
 }
 
 .heading1{
     
     margin-top: 10px;
     display: inline-block;
 }
 .heading2{
    
     margin-top: 10px;
     display: inline-block;
     font-weight: lighter;
     color: gray;
 }
 
 .head2{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     float: right;
     margin-right: 40px;
     margin-top: 90px;
 
 }
 
 .cross{
     
    
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgb(233, 19, 19);
     text-align: center;
     font-size: 30px;
     font-weight: bolder;
     color: white;
     border-radius: 50%;  
    margin-left: 75%;
 
 }
 .heading3{
     margin-top: -30px;
     margin-right: 30px;
     font-weight: lighter;
     color: gray;
     
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* card */
 
 .card-container{
   
     width: 90vh;
     height: 60%;
     position: relative;
     margin-top: 90px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-around ;
    
    
    
   
 
 }
 
 
 .card{
     text-align: center;
     height: 100%;
     width: 30%;
 
     border: 1px solid red;
     border-radius: 10px;
     box-shadow: 4px 4px 7px gray;
     
   
 
 }
 
 .upper-text{
     color:red;
     font-weight: lighter;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
 }
 .horizontal-line{
      margin-left: 20%;
       font-weight: bold;
       background-color: black;
 }
 
 .underline{
     margin-top: 20%;
     text-decoration: line-through;
     color:red;
  
 }
 
 .pending-task{
     margin-top:10%
 }
 
 

 /* New card */

 


 .new-card{
 
      
    text-align: center;
    height: 175px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    margin-top:-50vh;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 4px 4px 20px gray;
    background-color: white;

 }

 .list{
    font-weight: lighter;
     color: tomato;
     font-family: Arial, Helvetica, sans-serif;
 }


 #item{
    border: 2px solid red;
    box-shadow: 2px 2px 4px gray;
    height: 30px;
    width: 200px;
    border-radius:5px ;

 }

 .add{
     font-size: 20px;
     margin-top: 10px;
     border-width: 0px;
     color: white;
     background-color: rgb(201, 47, 47);
     border-radius: 30px;
     height: 40px;
     width: 100px;

 }
